body{
    background-color: #06283d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    

    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-in-out;
    overflow: hidden;
}

#main{
    background-color: white;
    border-radius: 30px;
    padding: 20px 17px 50px;
    transition: all 1s ease-in-out;
}

h1{
    padding-bottom: 40px;
}

#image{
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    max-width: 150px;
    padding-bottom: 40px;    
}

nav{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

nav a{
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;

    transition: all 0.3s ease-in-out;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.1);
}

nav a:hover {
    background-color: #06283d;
    color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0px 2px 4px rgba(0, 0, 0, 0.1);
}

@media  screen and (min-width: 400px){
    
    #main{
        padding: 20px 30px 50px;
    }

}

@media  screen and (min-width: 500px){
    #main{
        padding: 20px 70px 50px;
    }
}
